			<div id="footer" class="one-of-one centered">
				{FOOTERTEXT}
			</div>
		</div>
		<script type="text/javascript">
                {ISADMIN}editArray='{EDITARRAY}';{/ISADMIN}
 		class2tag("a", "bluetext");
		</script>
	</body>
</html>

