<html>
	<head>
		<title>{TITLE}</title>
		<link rel="stylesheet" type="text/css" href="{CONFIGS_path_root}{CONFIGS_path_templates}/css/main.css"/>
	</head>
	<body>
		<div id="container">
			<div id="center">
				<div id="top">
					<a href="{CONFIGS_path_root}">Index</a>{ISADMIN} | <a href="{CONFIGS_path_root}?mod=adminCP">Admin CP</a>{/ISADMIN}
				</div>
