/* Basic HTML Tags */
*
{
	word-wrap:break-word;
	background-color:inherit;
}
a
{
	color:#600;
}
body
{
	background-color:#AAA;
	min-height:100%;
	width:100%;
	min-width:1024px;
}
html
{
	margin-left:2%;
	min-height:95%;
	width:95%;
}
img
{
	border-style:none;
}
input, textarea
{
	width:49%;
	background-color:#AAA;
}
select
{
	border-style:solid;
	border-width:1px;
	border-color:black;
}
table
{
	width:100%;
}
td
{
	max-width:50px;
	border-bottom-width:1px;
	border-bottom-style:solid;
}

/* Vertically Organized Divs */
#container
{
	margin-left:1%;
	margin-right:1%;
	min-height:100%;
	width:97%;
}
#footer
{
	border-top-style:solid;
	border-top-width:1px;
	border-bottom-style:solid;
	border-bottom-width:1px;
	margin-top:1%;
	background-color:#999;
	text-align: center;
	clear:both;
	width:100%;
}
#top
{
	background-color:#999;
	width:100%;
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-top-style:solid;
	border-top-width:1px;
	margin-bottom:1%;
	text-align:center;
}

#middle
{
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-top-style:solid;
	border-top-width:1px;
	margin-bottom:1%;
	background-color: #999;
	width:100%;
	clear:both;
	overflow:auto;
}

/* Basic Classes */
.bright
{
	border-right-width:1px;
	border-right-style:solid;
	width:25%;
}