<html>
	<head>
		<title>{TITLE}</title>
		<link rel="stylesheet" type="text/css" href="{CONFIGS_path_theme_assets}JCake/css/main.css"/>
		{ISADMIN}<script type="text/javascript" src="{CONFIGS_path_js_assets}editable.js"></script>{/ISADMIN}
		<meta http-equiv="cache-control" content="no-cache, no-store">
	</head>
	<body>
		<div id="container">
			<div id="top">
				<a href="{CONFIGS_path_root}">Index</a>{ISADMIN} | <a href="{CONFIGS_path_root}?mod=adminCP">Admin CP</a> | <a href="{CONFIGS_path_root}?mod=adminCP&act=logout">Logout</a>{/ISADMIN}
			</div>
