<div style="text-align:center;">
	<table>
		<tr>
			<td colspan="4" style="text-align:center;">Available Modules</td>
		</tr>
		<tr>
			<td>Name:</td><td>Author:</td><td>Date Created:</td><td>Enabled:</td>
		</tr>
		{MODULES}
	</table>
	<form enctype="multipart/form-data" action="{CONFIGS_path_root}?mod=adminCP&act=modAdmin&func=upload" method="post">
		<input type="file" name="rfile"/><br/>
		<input type="submit" value="Upload"/>
	</form>
</div>
