<div id="regForm" style="width:50%; margin-left:24%;">
	<span style="width:83%;float:right;"><input type="text" name="email" value="dmurphy@somewhere.com"/></span><span style="width:15%;float:left;">E-Mail:</span>
	<span style="width:83%;float:right;"><input type="text" name="fname" value="Dade" onclick="this.value='';"/></span><span style="width:15%;float:left;">First Name:</span>
	<span style="width:83%;float:right;"><input type="text" name="lname" value="Murphy" onclick="this.value='';"/></span><span style="width:15%;float:left;">Last Name:</span>
	<span style="width:83%;float:right;"><input type="text" name="handle" value="Crash Override" onclick="this.value='';"/></span><span style="width:15%;float:left;">Handle:</span>
	<span style="width:83%;float:right;"><input type="password" name="password" value="redherring"/></span><span style="width:15%;float:left;">Password:</span>
</div>